@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');

/* useTheme */
body.light,
body.default-light {
   background-color: #fff;
   color: #1f2937;
   transition: background-color 0.3s, color 0.3s;
}

body.dark,
body.default-dark {
   background-color: #0f172a;
   color: #94a3b8;
   transition: background-color 0.3s, color 0.3s;
}

body.warm {
   background-color: #fff7ed;
   color: #1f2937;
   transition: background-color 0.3s, color 0.3s;
}

/* body {
   font-family: "Roboto Mono", monospace;
   font-family: "Roboto", sans-serif;
   font-family: "Rock Salt", cursive;
   font-family: "Raleway", sans-serif;
} */